<ion-content class="ion-padding">
  <ion-grid class="custom-grid">
    <ion-row class="primera-fila">
      <ion-col size-lg="2" size-md="6" size-sm="6" size="12" class="custom-box1">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="2" size-md="6" size-sm="6" size="12" class="custom-box1">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="2" size-md="6" size-sm="6" size="12" class="custom-box1">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="2" size-md="6" size-sm="6" size="12" class="custom-box1">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="2" size-md="6" size-sm="6" size="12" class="custom-box1">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="2" size-md="6" size-sm="6" size="12" class="custom-box1">
        <div class="column"></div>
      </ion-col>
    </ion-row>

    <ion-row class="segunda-fila">
      <ion-col size-lg="4" size-md="6" size-sm="6" size="12" class="custom-box2">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="6" size="12" class="custom-box2">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="6" size="12" class="custom-box2">
        <div class="column"></div>
      </ion-col>
    </ion-row>

    <ion-row class="tercera-fila">
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="1" size-md="6" size-sm="6" size="12" class="custom-box3">
        <div class="column"></div>
      </ion-col>
    </ion-row>

    <ion-row class="cuarta-fila">
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12" class="custom-box4">
        <div class="column"></div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12" class="custom-box4">
        <div class="column"></div>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>