* {
    margin: 0;
    padding: 0;
    color: #fff; 
    font-family: "Inter Tight", sans-serif;
}

.pomodoro {
    background-color: #7b287d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodoro__container {
    background-color: #7e4280;
    min-height: 390px;
    min-width: 390px;
    border-radius: 20px;
    text-align: center;
}

.pomodoro__container-modeButtons {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pomodoro__container-modeButtons span {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #5a245b;
    margin: 0 10px;
    cursor: pointer;
}

.pomodoro__container-modeButtons span#breakMode {
    background-color: transparent;
}

.pomodoro__container-timer {
    font-size: 110px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pomodoro__container-startButton button {
    padding: 10px 30px;
    font-size: 50px;
    font-weight: 600;
    background-color: #fff;
    color: #5a245b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}   

.pomodoro__container-resetButton button {
    padding: 8px 30px;
    margin: 10px 0px 25px 0px;
    min-width: 230px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    color: #5a245b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}